# **Pandas - Tutorial Completo**
### Este tutorial é baseado no vídeo: ** Complete Python Pandas Data Science Tutorial! (Reading CSV/Excel files, Sorting, Filtering, Groupby)**. Disponível no canal do youtube: Keith Galli**.

https://www.youtube.com/watch?v=vmEHCJofslg&list=RDCMUCq6XkhO5SZ66N04IcPbqNcw&start_radio=1&t=0

Esboço do vídeo!

0:00 - Por que Pandas?

1:46 - Instalando Pandas

2:03 - Obtendo os dados usados neste vídeo

3:50 - Carregando os dados no Pandas (CSVs, Excel, TXTs, etc.)

8:49 - Lendo dados (obtendo linhas, colunas, células, cabeçalhos, etc.)

13:10 - Itere em cada linha

14:11 - Obtendo linhas com base em uma condição específica

15:47 - Descrição de alto nível de seus dados (mín, máx, média, dev padrão, etc.)

16:24 - Classificando Valores (Alfabeticamente, Numericamente)

18:19 - Fazendo alterações no DataFrame

18:56 - Adicionando uma coluna

21:22 - Excluindo uma coluna

22:14 - Soma de várias colunas para criar uma nova coluna.

24:14 - Reorganizando colunas

28:06 - Salvando nossos dados (CSV, Excel, TXT, etc.)

31:47 - Filtrando dados (com base em várias condições)

35:40 - Reiniciar índice

37:41 - Filtragem Regex (filtro baseado em padrões textuais)

43:08 - Mudanças condicionais

47:57 - Estatísticas agregadas usando Groupby (soma, média, contagem)

54:53 - Trabalhando com grandes quantidades de dados (configurando o tamanho do bloco)

## Carregando dados no pandas:

In [2]:
import pandas as pd  #Importanto a biblioteca

df = pd.read_csv('pokemon_data.csv') #carregando os dados

print(df.head(5)) # ver as primeiras 5 linhas // para ver as últimas utilizar a função tail()

# df_xlsx = pd.read_excel('pokemon_data.xlsx') #Opção de ler o arquivo em excel
# print(df_xlsx.head(3))

# df = pd.read_csv('pokemon_data.txt', delimiter='\t') #Opção de ler o arquivo em txt, é preciso saber qual o delimitador

# print(df.head(5))

#df['HP']

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

## Mostrando todas as colunas do df:

In [ ]:
print(df.columns.values) #Mostrando os nomes de todas as colunas

['#' 'Name' 'Type 1' 'Type 2' 'HP' 'Attack' 'Defense' 'Sp. Atk' 'Sp. Def'
 'Speed' 'Generation' 'Legendary']

## Lendo cada coluna:

In [ ]:
print(df[['Name','Type 1','HP']]) #lendo uma coluna específica

#print(df['Name'][0:5]) #mostrando as 5 primeiras linhas da coluna

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [ ]:
print(df.Name) #outra forma de mostrar a coluna
#print(df.Name.head(5)) #outa forma de mostrar as 5 primeiras linhas da coluna

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

## Lendo cada linha:

In [ ]:
print(df.iloc[0:4])

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[4 rows x 12 columns]

## Lendo uma localizaçãoespecífica:

In [ ]:
print(df.iloc[2,1]) #Linha 2, coluna 1

Venusaur

In [ ]:
#?????? pesquisar iterrows
for index, row in df.iterrows(): 
  print(index, row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 CharizardMega Charizard X
8 CharizardMega Charizard Y
9 Squirtle
10 Wartortle
11 Blastoise
12 BlastoiseMega Blastoise
13 Caterpie
14 Metapod
15 Butterfree
16 Weedle
17 Kakuna
18 Beedrill
19 BeedrillMega Beedrill
20 Pidgey
21 Pidgeotto
22 Pidgeot
23 PidgeotMega Pidgeot
24 Rattata
25 Raticate
26 Spearow
27 Fearow
28 Ekans
29 Arbok
30 Pikachu
31 Raichu
32 Sandshrew
33 Sandslash
34 Nidoran (Female)
35 Nidorina
36 Nidoqueen
37 Nidoran (Male)
38 Nidorino
39 Nidoking
40 Clefairy
41 Clefable
42 Vulpix
43 Ninetales
44 Jigglypuff
45 Wigglytuff
46 Zubat
47 Golbat
48 Oddish
49 Gloom
50 Vileplume
51 Paras
52 Parasect
53 Venonat
54 Venomoth
55 Diglett
56 Dugtrio
57 Meowth
58 Persian
59 Psyduck
60 Golduck
61 Mankey
62 Primeape
63 Growlithe
64 Arcanine
65 Poliwag
66 Poliwhirl
67 Poliwrath
68 Abra
69 Kadabra
70 Alakazam
71 AlakazamMega Alakazam
72 Machop
73 Machoke
74 Machamp
75 Bellsprout
76 Weepinbell
77 Victreebel
78 Tentacool
79 Tentacruel
80 Geodude
81 Graveler
82 Golem
83 Ponyta
84 Rapidash
85 Slowpoke
86 Slowbro
87 SlowbroMega Slowbro
88 Magnemite
89 Magneton
90 Farfetch'd
91 Doduo
92 Dodrio
93 Seel
94 Dewgong
95 Grimer
96 Muk
97 Shellder
98 Cloyster
99 Gastly
100 Haunter
101 Gengar
102 GengarMega Gengar
103 Onix
104 Drowzee
105 Hypno
106 Krabby
107 Kingler
108 Voltorb
109 Electrode
110 Exeggcute
111 Exeggutor
112 Cubone
113 Marowak
114 Hitmonlee
115 Hitmonchan
116 Lickitung
117 Koffing
118 Weezing
119 Rhyhorn
120 Rhydon
121 Chansey
122 Tangela
123 Kangaskhan
124 KangaskhanMega Kangaskhan
125 Horsea
126 Seadra
127 Goldeen
128 Seaking
129 Staryu
130 Starmie
131 Mr. Mime
132 Scyther
133 Jynx
134 Electabuzz
135 Magmar
136 Pinsir
137 PinsirMega Pinsir
138 Tauros
139 Magikarp
140 Gyarados
141 GyaradosMega Gyarados
142 Lapras
143 Ditto
144 Eevee
145 Vaporeon
146 Jolteon
147 Flareon
148 Porygon
149 Omanyte
150 Omastar
151 Kabuto
152 Kabutops
153 Aerodactyl
154 AerodactylMega Aerodactyl
155 Snorlax
156 Articuno
157 Zapdos
158 Moltres
159 Dratini
160 Dragonair
161 Dragonite
162 Mewtwo
163 MewtwoMega Mewtwo X
164 MewtwoMega Mewtwo Y
165 Mew
166 Chikorita
167 Bayleef
168 Meganium
169 Cyndaquil
170 Quilava
171 Typhlosion
172 Totodile
173 Croconaw
174 Feraligatr
175 Sentret
176 Furret
177 Hoothoot
178 Noctowl
179 Ledyba
180 Ledian
181 Spinarak
182 Ariados
183 Crobat
184 Chinchou
185 Lanturn
186 Pichu
187 Cleffa
188 Igglybuff
189 Togepi
190 Togetic
191 Natu
192 Xatu
193 Mareep
194 Flaaffy
195 Ampharos
196 AmpharosMega Ampharos
197 Bellossom
198 Marill
199 Azumarill
200 Sudowoodo
201 Politoed
202 Hoppip
203 Skiploom
204 Jumpluff
205 Aipom
206 Sunkern
207 Sunflora
208 Yanma
209 Wooper
210 Quagsire
211 Espeon
212 Umbreon
213 Murkrow
214 Slowking
215 Misdreavus
216 Unown
217 Wobbuffet
218 Girafarig
219 Pineco
220 Forretress
221 Dunsparce
222 Gligar
223 Steelix
224 SteelixMega Steelix
225 Snubbull
226 Granbull
227 Qwilfish
228 Scizor
229 ScizorMega Scizor
230 Shuckle
231 Heracross
232 HeracrossMega Heracross
233 Sneasel
234 Teddiursa
235 Ursaring
236 Slugma
237 Magcargo
238 Swinub
239 Piloswine
240 Corsola
241 Remoraid
242 Octillery
243 Delibird
244 Mantine
245 Skarmory
246 Houndour
247 Houndoom
248 HoundoomMega Houndoom
249 Kingdra
250 Phanpy
251 Donphan
252 Porygon2
253 Stantler
254 Smeargle
255 Tyrogue
256 Hitmontop
257 Smoochum
258 Elekid
259 Magby
260 Miltank
261 Blissey
262 Raikou
263 Entei
264 Suicune
265 Larvitar
266 Pupitar
267 Tyranitar
268 TyranitarMega Tyranitar
269 Lugia
270 Ho-oh
271 Celebi
272 Treecko
273 Grovyle
274 Sceptile
275 SceptileMega Sceptile
276 Torchic
277 Combusken
278 Blaziken
279 BlazikenMega Blaziken
280 Mudkip
281 Marshtomp
282 Swampert
283 SwampertMega Swampert
284 Poochyena
285 Mightyena
286 Zigzagoon
287 Linoone
288 Wurmple
289 Silcoon
290 Beautifly
291 Cascoon
292 Dustox
293 Lotad
294 Lombre
295 Ludicolo
296 Seedot
297 Nuzleaf
298 Shiftry
299 Taillow
300 Swellow
301 Wingull
302 Pelipper
303 Ralts
304 Kirlia
305 Gardevoir
306 GardevoirMega Gardevoir
307 Surskit
308 Masquerain
309 Shroomish
310 Breloom
311 Slakoth
312 Vigoroth
313 Slaking
314 Nincada
315 Ninjask
316 Shedinja
317 Whismur
318 Loudred
319 Exploud
320 Makuhita
321 Hariyama
322 Azurill
323 Nosepass
324 Skitty
325 Delcatty
326 Sableye
327 SableyeMega Sableye
328 Mawile
329 MawileMega Mawile
330 Aron
331 Lairon
332 Aggron
333 AggronMega Aggron
334 Meditite
335 Medicham
336 MedichamMega Medicham
337 Electrike
338 Manectric
339 ManectricMega Manectric
340 Plusle
341 Minun
342 Volbeat
343 Illumise
344 Roselia
345 Gulpin
346 Swalot
347 Carvanha
348 Sharpedo
349 SharpedoMega Sharpedo
350 Wailmer
351 Wailord
352 Numel
353 Camerupt
354 CameruptMega Camerupt
355 Torkoal
356 Spoink
357 Grumpig
358 Spinda
359 Trapinch
360 Vibrava
361 Flygon
362 Cacnea
363 Cacturne
364 Swablu
365 Altaria
366 AltariaMega Altaria
367 Zangoose
368 Seviper
369 Lunatone
370 Solrock
371 Barboach
372 Whiscash
373 Corphish
374 Crawdaunt
375 Baltoy
376 Claydol
377 Lileep
378 Cradily
379 Anorith
380 Armaldo
381 Feebas
382 Milotic
383 Castform
384 Kecleon
385 Shuppet
386 Banette
387 BanetteMega Banette
388 Duskull
389 Dusclops
390 Tropius
391 Chimecho
392 Absol
393 AbsolMega Absol
394 Wynaut
395 Snorunt
396 Glalie
397 GlalieMega Glalie
398 Spheal
399 Sealeo
400 Walrein
401 Clamperl
402 Huntail
403 Gorebyss
404 Relicanth
405 Luvdisc
406 Bagon
407 Shelgon
408 Salamence
409 SalamenceMega Salamence
410 Beldum
411 Metang
412 Metagross
413 MetagrossMega Metagross
414 Regirock
415 Regice
416 Registeel
417 Latias
418 LatiasMega Latias
419 Latios
420 LatiosMega Latios
421 Kyogre
422 KyogrePrimal Kyogre
423 Groudon
424 GroudonPrimal Groudon
425 Rayquaza
426 RayquazaMega Rayquaza
427 Jirachi
428 DeoxysNormal Forme
429 DeoxysAttack Forme
430 DeoxysDefense Forme
431 DeoxysSpeed Forme
432 Turtwig
433 Grotle
434 Torterra
435 Chimchar
436 Monferno
437 Infernape
438 Piplup
439 Prinplup
440 Empoleon
441 Starly
442 Staravia
443 Staraptor
444 Bidoof
445 Bibarel
446 Kricketot
447 Kricketune
448 Shinx
449 Luxio
450 Luxray
451 Budew
452 Roserade
453 Cranidos
454 Rampardos
455 Shieldon
456 Bastiodon
457 Burmy
458 WormadamPlant Cloak
459 WormadamSandy Cloak
460 WormadamTrash Cloak
461 Mothim
462 Combee
463 Vespiquen
464 Pachirisu
465 Buizel
466 Floatzel
467 Cherubi
468 Cherrim
469 Shellos
470 Gastrodon
471 Ambipom
472 Drifloon
473 Drifblim
474 Buneary
475 Lopunny
476 LopunnyMega Lopunny
477 Mismagius
478 Honchkrow
479 Glameow
480 Purugly
481 Chingling
482 Stunky
483 Skuntank
484 Bronzor
485 Bronzong
486 Bonsly
487 Mime Jr.
488 Happiny
489 Chatot
490 Spiritomb
491 Gible
492 Gabite
493 Garchomp
494 GarchompMega Garchomp
495 Munchlax
496 Riolu
497 Lucario
498 LucarioMega Lucario
499 Hippopotas
500 Hippowdon
501 Skorupi
502 Drapion
503 Croagunk
504 Toxicroak
505 Carnivine
506 Finneon
507 Lumineon
508 Mantyke
509 Snover
510 Abomasnow
511 AbomasnowMega Abomasnow
512 Weavile
513 Magnezone
514 Lickilicky
515 Rhyperior
516 Tangrowth
517 Electivire
518 Magmortar
519 Togekiss
520 Yanmega
521 Leafeon
522 Glaceon
523 Gliscor
524 Mamoswine
525 Porygon-Z
526 Gallade
527 GalladeMega Gallade
528 Probopass
529 Dusknoir
530 Froslass
531 Rotom
532 RotomHeat Rotom
533 RotomWash Rotom
534 RotomFrost Rotom
535 RotomFan Rotom
536 RotomMow Rotom
537 Uxie
538 Mesprit
539 Azelf
540 Dialga
541 Palkia
542 Heatran
543 Regigigas
544 GiratinaAltered Forme
545 GiratinaOrigin Forme
546 Cresselia
547 Phione
548 Manaphy
549 Darkrai
550 ShayminLand Forme
551 ShayminSky Forme
552 Arceus
553 Victini
554 Snivy
555 Servine
556 Serperior
557 Tepig
558 Pignite
559 Emboar
560 Oshawott
561 Dewott
562 Samurott
563 Patrat
564 Watchog
565 Lillipup
566 Herdier
567 Stoutland
568 Purrloin
569 Liepard
570 Pansage
571 Simisage
572 Pansear
573 Simisear
574 Panpour
575 Simipour
576 Munna
577 Musharna
578 Pidove
579 Tranquill
580 Unfezant
581 Blitzle
582 Zebstrika
583 Roggenrola
584 Boldore
585 Gigalith
586 Woobat
587 Swoobat
588 Drilbur
589 Excadrill
590 Audino
591 AudinoMega Audino
592 Timburr
593 Gurdurr
594 Conkeldurr
595 Tympole
596 Palpitoad
597 Seismitoad
598 Throh
599 Sawk
600 Sewaddle
601 Swadloon
602 Leavanny
603 Venipede
604 Whirlipede
605 Scolipede
606 Cottonee
607 Whimsicott
608 Petilil
609 Lilligant
610 Basculin
611 Sandile
612 Krokorok
613 Krookodile
614 Darumaka
615 DarmanitanStandard Mode
616 DarmanitanZen Mode
617 Maractus
618 Dwebble
619 Crustle
620 Scraggy
621 Scrafty
622 Sigilyph
623 Yamask
624 Cofagrigus
625 Tirtouga
626 Carracosta
627 Archen
628 Archeops
629 Trubbish
630 Garbodor
631 Zorua
632 Zoroark
633 Minccino
634 Cinccino
635 Gothita
636 Gothorita
637 Gothitelle
638 Solosis
639 Duosion
640 Reuniclus
641 Ducklett
642 Swanna
643 Vanillite
644 Vanillish
645 Vanilluxe
646 Deerling
647 Sawsbuck
648 Emolga
649 Karrablast
650 Escavalier
651 Foongus
652 Amoonguss
653 Frillish
654 Jellicent
655 Alomomola
656 Joltik
657 Galvantula
658 Ferroseed
659 Ferrothorn
660 Klink
661 Klang
662 Klinklang
663 Tynamo
664 Eelektrik
665 Eelektross
666 Elgyem
667 Beheeyem
668 Litwick
669 Lampent
670 Chandelure
671 Axew
672 Fraxure
673 Haxorus
674 Cubchoo
675 Beartic
676 Cryogonal
677 Shelmet
678 Accelgor
679 Stunfisk
680 Mienfoo
681 Mienshao
682 Druddigon
683 Golett
684 Golurk
685 Pawniard
686 Bisharp
687 Bouffalant
688 Rufflet
689 Braviary
690 Vullaby
691 Mandibuzz
692 Heatmor
693 Durant
694 Deino
695 Zweilous
696 Hydreigon
697 Larvesta
698 Volcarona
699 Cobalion
700 Terrakion
701 Virizion
702 TornadusIncarnate Forme
703 TornadusTherian Forme
704 ThundurusIncarnate Forme
705 ThundurusTherian Forme
706 Reshiram
707 Zekrom
708 LandorusIncarnate Forme
709 LandorusTherian Forme
710 Kyurem
711 KyuremBlack Kyurem
712 KyuremWhite Kyurem
713 KeldeoOrdinary Forme
714 KeldeoResolute Forme
715 MeloettaAria Forme
716 MeloettaPirouette Forme
717 Genesect
718 Chespin
719 Quilladin
720 Chesnaught
721 Fennekin
722 Braixen
723 Delphox
724 Froakie
725 Frogadier
726 Greninja
727 Bunnelby
728 Diggersby
729 Fletchling
730 Fletchinder
731 Talonflame
732 Scatterbug
733 Spewpa
734 Vivillon
735 Litleo
736 Pyroar
737 Flabébé
738 Floette
739 Florges
740 Skiddo
741 Gogoat
742 Pancham
743 Pangoro
744 Furfrou
745 Espurr
746 MeowsticMale
747 MeowsticFemale
748 Honedge
749 Doublade
750 AegislashBlade Forme
751 AegislashShield Forme
752 Spritzee
753 Aromatisse
754 Swirlix
755 Slurpuff
756 Inkay
757 Malamar
758 Binacle
759 Barbaracle
760 Skrelp
761 Dragalge
762 Clauncher
763 Clawitzer
764 Helioptile
765 Heliolisk
766 Tyrunt
767 Tyrantrum
768 Amaura
769 Aurorus
770 Sylveon
771 Hawlucha
772 Dedenne
773 Carbink
774 Goomy
775 Sliggoo
776 Goodra
777 Klefki
778 Phantump
779 Trevenant
780 PumpkabooAverage Size
781 PumpkabooSmall Size
782 PumpkabooLarge Size
783 PumpkabooSuper Size
784 GourgeistAverage Size
785 GourgeistSmall Size
786 GourgeistLarge Size
787 GourgeistSuper Size
788 Bergmite
789 Avalugg
790 Noibat
791 Noivern
792 Xerneas
793 Yveltal
794 Zygarde50% Forme
795 Diancie
796 DiancieMega Diancie
797 HoopaHoopa Confined
798 HoopaHoopa Unbound
799 Volcanion

## Filtrando uma coluna:

In [ ]:
df.loc[df['Type 1'] == "Fire"] # Filtrando a coluna 'Type 1' == Fire

       #                       Name Type 1  ... Speed  Generation  Legendary
4      4                 Charmander   Fire  ...    65           1      False
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
42    37                     Vulpix   Fire  ...    65           1      False
43    38                  Ninetales   Fire  ...   100           1      False
63    58                  Growlithe   Fire  ...    60           1      False
64    59                   Arcanine   Fire  ...    95           1      False
83    77                     Ponyta   Fire  ...    90           1      False
84    78                   Rapidash   Fire  ...   105           1      False
135  126                     Magmar   Fire  ...    93           1      False
147  136                    Flareon   Fire  ...    65           1      False
158  146                    Moltres   Fire  ...    90           1       True
169  155                  Cyndaquil   Fire  ...    65           2      False
170  156                    Quilava   Fire  ...    80           2      False
171  157                 Typhlosion   Fire  ...   100           2      False
236  218                     Slugma   Fire  ...    20           2      False
237  219                   Magcargo   Fire  ...    30           2      False
259  240                      Magby   Fire  ...    83           2      False
263  244                      Entei   Fire  ...   100           2       True
270  250                      Ho-oh   Fire  ...    90           2       True
276  255                    Torchic   Fire  ...    45           3      False
277  256                  Combusken   Fire  ...    55           3      False
278  257                   Blaziken   Fire  ...    80           3      False
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
352  322                      Numel   Fire  ...    35           3      False
353  323                   Camerupt   Fire  ...    40           3      False
354  323      CameruptMega Camerupt   Fire  ...    20           3      False
355  324                    Torkoal   Fire  ...    20           3      False
435  390                   Chimchar   Fire  ...    61           4      False
436  391                   Monferno   Fire  ...    81           4      False
437  392                  Infernape   Fire  ...   108           4      False
518  467                  Magmortar   Fire  ...    83           4      False
542  485                    Heatran   Fire  ...    77           4       True
557  498                      Tepig   Fire  ...    45           5      False
558  499                    Pignite   Fire  ...    55           5      False
559  500                     Emboar   Fire  ...    65           5      False
572  513                    Pansear   Fire  ...    64           5      False
573  514                   Simisear   Fire  ...   101           5      False
614  554                   Darumaka   Fire  ...    50           5      False
615  555    DarmanitanStandard Mode   Fire  ...    95           5      False
616  555         DarmanitanZen Mode   Fire  ...    55           5      False
692  631                    Heatmor   Fire  ...    65           5      False
721  653                   Fennekin   Fire  ...    60           6      False
722  654                    Braixen   Fire  ...    73           6      False
723  655                    Delphox   Fire  ...   104           6      False
730  662                Fletchinder   Fire  ...    84           6      False
731  663                 Talonflame   Fire  ...   126           6      False
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[52 rows x 12 columns]

## Função describe()

In [ ]:
df.describe() #métricas estatísticas

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

## Ordenando uma coluna:

In [ ]:
df.sort_values('Name') #Ordenando a coluna 'Nome'

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

In [ ]:
df.sort_values('Name', ascending=False) #Ordenando a coluna 'Nome' em ordem decrescente

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [ ]:
df.sort_values(['Type 1', 'HP']) #Ordenando duas colunas

       #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
316  292   Shedinja    Bug   Ghost  ...       30     40           3      False
230  213    Shuckle    Bug    Rock  ...      230      5           2      False
462  415     Combee    Bug  Flying  ...       42     70           4      False
603  543   Venipede    Bug  Poison  ...       39     57           5      False
314  290    Nincada    Bug  Ground  ...       30     40           3      False
..   ...        ...    ...     ...  ...      ...    ...         ...        ...
142  131     Lapras  Water     Ice  ...       95     60           1      False
145  134   Vaporeon  Water     NaN  ...       95     65           1      False
350  320    Wailmer  Water     NaN  ...       35     60           3      False
655  594  Alomomola  Water     NaN  ...       45     65           5      False
351  321    Wailord  Water     NaN  ...       45     60           3      False

[800 rows x 12 columns]

In [ ]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0]) #Ordenando duas colunas, Type 1 (crescente), HP(decrescente)

       #                     Name Type 1  ... Speed  Generation  Legendary
520  469                  Yanmega    Bug  ...    95           4      False
698  637                Volcarona    Bug  ...   100           5      False
231  214                Heracross    Bug  ...    85           2      False
232  214  HeracrossMega Heracross    Bug  ...    75           2      False
678  617                 Accelgor    Bug  ...   145           5      False
..   ...                      ...    ...  ...   ...         ...        ...
106   98                   Krabby  Water  ...    50           1      False
125  116                   Horsea  Water  ...    60           1      False
129  120                   Staryu  Water  ...    85           1      False
139  129                 Magikarp  Water  ...    80           1      False
381  349                   Feebas  Water  ...    80           3      False

[800 rows x 12 columns]

## Fazendo Transformações nos dados:

In [ ]:
df.head(5)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

## Adicionando uma coluna:

In [ ]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] # coluna incluida igual ao somatório de outras colunas

df.head(5)

   #                   Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1              Bulbasaur  Grass  Poison  ...     45           1      False    318
1  2                Ivysaur  Grass  Poison  ...     60           1      False    405
2  3               Venusaur  Grass  Poison  ...     80           1      False    525
3  3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False    625
4  4             Charmander   Fire     NaN  ...     65           1      False    309

[5 rows x 13 columns]

### Outra maineira de adicionar coluna:

In [ ]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1) #somando coluna 4 até a coluna 10  #loc/iloc/axis????
df

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander     Fire  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion     Fire  ...          6       True    600

[800 rows x 13 columns]

## Eliminando uma coluna:

In [ ]:
df= df.drop(columns=['Total']) #Eliminando uma coluna
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

## Movendo posição das colunas:

In [ ]:
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df

# Exercício: descobrir índice de cada coluna

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

## Salvando os dados modificados em um arquivo CSV:

In [ ]:
df.to_csv('modified.csv') #Cria arquivo csv no seu diretório

In [ ]:
df.to_csv('modified.csv', index=False) #Sem a coluna índice

In [ ]:
df.to_csv('modified.txt', index=False, sep='\t') #Saltando em txt

## Filtrando dados (Baseada em múltiplas condições):

### Filtrando uma coluna:

In [ ]:
df.loc[df['Type 1'] == 'Grass'] # Filtrando uma coluna

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[70 rows x 13 columns]

### Filtrando duas coluna (E ou OU):

In [ ]:
#para usar OU então usar '|' exemplo:

df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')] # Filtrando uma opção ou outra

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
16    13                 Weedle    Bug  ...    50           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[89 rows x 13 columns]

In [ ]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')] # Filtrando duas colunas diferentes

#& = and

## E filtrar duas opções na mesma coluna?

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
49    44                  Gloom  Grass  ...    40           1      False
50    45              Vileplume  Grass  ...    50           1      False
75    69             Bellsprout  Grass  ...    40           1      False
76    70             Weepinbell  Grass  ...    55           1      False
77    71             Victreebel  Grass  ...    70           1      False
344  315                Roselia  Grass  ...    65           3      False
451  406                  Budew  Grass  ...    55           4      False
452  407               Roserade  Grass  ...    90           4      False
651  590                Foongus  Grass  ...    15           5      False
652  591              Amoonguss  Grass  ...    30           5      False

[15 rows x 13 columns]

In [ ]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)] # Filtrando três colunas diferentes

       #                   Name Type 1  ... Speed  Generation  Legendary
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
50    45              Vileplume  Grass  ...    50           1      False
77    71             Victreebel  Grass  ...    70           1      False
652  591              Amoonguss  Grass  ...    30           5      False

[5 rows x 13 columns]

## Salvando os dados filtrados em um novo arquivo:

In [ ]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)] # Filtrando três colunas diferentes
new_df.to_csv('filtered.csv') #salvando os dados filtrados em um novo arquivo 

#OBS: quando esses dados filtrados são salvos, permanecem os índices antigos

### Salvando e resetando o índice (index):

In [ ]:
new_df = new_df.reset_index(drop=True) #Drop = True (retira o antigo índice)
new_df

#or

#new_df.reset_index(drop=True, inplace=True) #inplace=True ???

     #                   Name Type 1  ... Speed  Generation  Legendary
0    3               Venusaur  Grass  ...    80           1      False
1    3  VenusaurMega Venusaur  Grass  ...    80           1      False
2   45              Vileplume  Grass  ...    50           1      False
3   71             Victreebel  Grass  ...    70           1      False
4  591              Amoonguss  Grass  ...    30           5      False

[5 rows x 13 columns]

## Filtrando um termo em texto:

In [ ]:
df.loc[df['Name'].str.contains('Mega')] #Filtrando na coluna 'Name' termos com 'Mega'

In [ ]:
df.loc[~df['Name'].str.contains('Mega')] #Filtrando na coluna 'Name' termos sem 'Mega' (usamos o tio (~))

In [ ]:
import re
df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)] #Filtrando na coluna 'Type 1' 'Fire' or 'Grass, usar '~' para o contrário

In [ ]:
df.loc[df['Type 1'].str.contains('Fire|Grass', flags=re.I, regex=True)] #Filtrando na coluna 'Type 1' 'Fire' or 'Grass, usar '~' para o contrário

In [ ]:
df.loc[df['Name'].str.contains('pi[a-z]*', flags=re.I, regex=True)] #Filtrando na coluna 'Name' nomes que contenham 'pi' e a sequência é qualquer letra entre A e Z

#Para que serve o '*'??

In [ ]:
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)] #Filtrando na coluna 'Name' nomes que começam com 'pi' (usar: '^')

## Mudanças Condicionais:

In [ ]:
df

In [4]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer' # Mudando a palavra 'Fire' por 'Flame' na coluna 'Type 1'
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander   Flamer  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion   Flamer  ...    70           6       True

[800 rows x 12 columns]

In [6]:
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire' # Mudando a palavra 'Fire' por 'Flame' na coluna 'Type 1' - Voltando a mudança realizada na célula acima
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [11]:
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True #Racional: se tem 'Fire' na coluna 'Type 1', então na coluna 'Legendary' colocar 'True'
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1       True
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

### Lendo arquivo de dados novamente:

In [18]:
df1 = pd.read_csv('modified.csv') #Lendo arquivo de dados modificado anteriormente
df1

     Unnamed: 0    #                   Name  ... Sp. Def Speed  Generation
0             0    1              Bulbasaur  ...      65    45           1
1             1    2                Ivysaur  ...      80    60           1
2             2    3               Venusaur  ...     100    80           1
3             3    3  VenusaurMega Venusaur  ...     120    80           1
4             4    4             Charmander  ...      50    65           1
..          ...  ...                    ...  ...     ...   ...         ...
795         795  719                Diancie  ...     150    50           6
796         796  719    DiancieMega Diancie  ...     110   110           6
797         797  720    HoopaHoopa Confined  ...     130    70           6
798         798  720     HoopaHoopa Unbound  ...     130    80           6
799         799  721              Volcanion  ...      90    70           6

[800 rows x 14 columns]

In [15]:
#Racional: Se o 'Total' é maior que 500, então na coluna 'Legendary' e 'Generation' colocar: 'TEST VALUE'
df1.loc[df1['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'
df1

     Unnamed: 0    #                   Name  ... Sp. Def Speed  Generation
0             0    1              Bulbasaur  ...      65    45           1
1             1    2                Ivysaur  ...      80    60           1
2             2    3               Venusaur  ...     100    80  TEST VALUE
3             3    3  VenusaurMega Venusaur  ...     120    80  TEST VALUE
4             4    4             Charmander  ...      50    65           1
..          ...  ...                    ...  ...     ...   ...         ...
795         795  719                Diancie  ...     150    50  TEST VALUE
796         796  719    DiancieMega Diancie  ...     110   110  TEST VALUE
797         797  720    HoopaHoopa Confined  ...     130    70  TEST VALUE
798         798  720     HoopaHoopa Unbound  ...     130    80  TEST VALUE
799         799  721              Volcanion  ...      90    70  TEST VALUE

[800 rows x 14 columns]

In [16]:
#Racional: Se o 'Total' é maior que 500, então na coluna 'Legendary' e 'Generation' colocar: 'TEST 1' e 'TEST 2' respectivamente:
df1.loc[df1['Total'] > 500, ['Generation', 'Legendary']] = ['TEST 1', 'TEST 2']
df1

     Unnamed: 0    #                   Name  ... Sp. Def Speed Generation
0             0    1              Bulbasaur  ...      65    45          1
1             1    2                Ivysaur  ...      80    60          1
2             2    3               Venusaur  ...     100    80     TEST 1
3             3    3  VenusaurMega Venusaur  ...     120    80     TEST 1
4             4    4             Charmander  ...      50    65          1
..          ...  ...                    ...  ...     ...   ...        ...
795         795  719                Diancie  ...     150    50     TEST 1
796         796  719    DiancieMega Diancie  ...     110   110     TEST 1
797         797  720    HoopaHoopa Confined  ...     130    70     TEST 1
798         798  720     HoopaHoopa Unbound  ...     130    80     TEST 1
799         799  721              Volcanion  ...      90    70     TEST 1

[800 rows x 14 columns]

## Estatísticas Agregadas (Groupby):

In [19]:
df1

     Unnamed: 0    #                   Name  ... Sp. Def Speed  Generation
0             0    1              Bulbasaur  ...      65    45           1
1             1    2                Ivysaur  ...      80    60           1
2             2    3               Venusaur  ...     100    80           1
3             3    3  VenusaurMega Venusaur  ...     120    80           1
4             4    4             Charmander  ...      50    65           1
..          ...  ...                    ...  ...     ...   ...         ...
795         795  719                Diancie  ...     150    50           6
796         796  719    DiancieMega Diancie  ...     110   110           6
797         797  720    HoopaHoopa Confined  ...     130    70           6
798         798  720     HoopaHoopa Unbound  ...     130    80           6
799         799  721              Volcanion  ...      90    70           6

[800 rows x 14 columns]

In [21]:
df1.groupby(['Type 1']).mean() #Média de todas as colunas em relação ao 'Type 1'

          Unnamed: 0           #  Legendary  ...    Sp. Def       Speed  Generation
Type 1                                       ...
Bug       368.072464  334.492754   0.000000  ...  64.797101   61.681159    3.217391
Dark      507.387097  461.354839   0.064516  ...  69.516129   76.161290    4.032258
Dragon    521.843750  474.375000   0.375000  ...  88.843750   83.031250    3.875000
Electric  400.590909  363.500000   0.090909  ...  73.704545   84.500000    3.272727
Fairy     494.529412  449.529412   0.058824  ...  84.705882   48.588235    4.117647
Fighting  400.444444  363.851852   0.000000  ...  64.703704   66.074074    3.370370
Fire      360.942308  327.403846   0.096154  ...  72.211538   74.442308    3.211538
Flying    746.500000  677.750000   0.500000  ...  72.500000  102.500000    5.500000
Ghost     536.281250  486.500000   0.062500  ...  76.468750   64.343750    4.187500
Grass     380.414286  344.871429   0.042857  ...  70.428571   61.928571    3.357143
Ground    392.312500  356.281250   0.125000  ...  62.750000   63.906250    3.156250
Ice       465.666667  423.541667   0.083333  ...  76.291667   63.458333    3.541667
Normal    351.581633  319.173469   0.020408  ...  63.724490   71.551020    3.051020
Poison    278.285714  251.785714   0.000000  ...  64.392857   63.571429    2.535714
Psychic   420.105263  380.807018   0.245614  ...  86.280702   81.491228    3.385965
Rock      431.840909  392.727273   0.090909  ...  75.477273   55.909091    3.454545
Steel     486.296296  442.851852   0.148148  ...  80.629630   55.259259    3.851852
Water     333.312500  303.089286   0.035714  ...  70.517857   65.964286    2.857143

[18 rows x 11 columns]

In [29]:
df1.groupby(['Type 1']).mean().sort_values('Defense', ascending=False) #Média de todas as colunas em relação ao 'Type 1' com a coluna 'Defense' em ordem decrescente

          Unnamed: 0           #  Legendary  ...    Sp. Def       Speed  Generation
Type 1                                       ...
Steel     486.296296  442.851852   0.148148  ...  80.629630   55.259259    3.851852
Rock      431.840909  392.727273   0.090909  ...  75.477273   55.909091    3.454545
Dragon    521.843750  474.375000   0.375000  ...  88.843750   83.031250    3.875000
Ground    392.312500  356.281250   0.125000  ...  62.750000   63.906250    3.156250
Ghost     536.281250  486.500000   0.062500  ...  76.468750   64.343750    4.187500
Water     333.312500  303.089286   0.035714  ...  70.517857   65.964286    2.857143
Ice       465.666667  423.541667   0.083333  ...  76.291667   63.458333    3.541667
Grass     380.414286  344.871429   0.042857  ...  70.428571   61.928571    3.357143
Bug       368.072464  334.492754   0.000000  ...  64.797101   61.681159    3.217391
Dark      507.387097  461.354839   0.064516  ...  69.516129   76.161290    4.032258
Poison    278.285714  251.785714   0.000000  ...  64.392857   63.571429    2.535714
Fire      360.942308  327.403846   0.096154  ...  72.211538   74.442308    3.211538
Psychic   420.105263  380.807018   0.245614  ...  86.280702   81.491228    3.385965
Electric  400.590909  363.500000   0.090909  ...  73.704545   84.500000    3.272727
Flying    746.500000  677.750000   0.500000  ...  72.500000  102.500000    5.500000
Fighting  400.444444  363.851852   0.000000  ...  64.703704   66.074074    3.370370
Fairy     494.529412  449.529412   0.058824  ...  84.705882   48.588235    4.117647
Normal    351.581633  319.173469   0.020408  ...  63.724490   71.551020    3.051020

[18 rows x 11 columns]

In [ ]:
f1.groupby(['Type 1']).mean().sort_values(['Defense', 'Attack'], ascending=False) #Média de todas as colunas em relação ao 'Type 1' com a coluna 'Defense' e 'Attack' em ordem decrescente

In [33]:
#df1.groupby(['Type 1']).count() #Contagem. Porém, para evitar colunas vazias, vamos criar uma coluna 'count':

df1['count'] = 1 #Criando coluna 
df1.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [34]:
df1.groupby(['Type 1','Type 2']).count()['count'] #Contagem por 'Type 1' e 'Type 2'

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

## Trabalhando com grande volume de dados:

In [38]:
#selecionando um pedaço do conjunto de dados (5 linhas)
new_df = pd.DataFrame(columns=df.columns)

for df1 in pd.read_csv('modified.csv', chunksize=5):
  results = df.groupby(['Type 1']).count()

  new_df = pd.concat([new_df,results])

In [39]:
print(new_df)

            # Name Type 1 Type 2   HP  ... Sp. Def Speed Generation Legendary count
Bug        69   69    NaN     52   69  ...      69    69         69        69    69
Dark       31   31    NaN     21   31  ...      31    31         31        31    31
Dragon     32   32    NaN     21   32  ...      32    32         32        32    32
Electric   44   44    NaN     17   44  ...      44    44         44        44    44
Fairy      17   17    NaN      2   17  ...      17    17         17        17    17
...       ...  ...    ...    ...  ...  ...     ...   ...        ...       ...   ...
Poison     28   28    NaN     13   28  ...      28    28         28        28    28
Psychic    57   57    NaN     19   57  ...      57    57         57        57    57
Rock       44   44    NaN     35   44  ...      44    44         44        44    44
Steel      27   27    NaN     22   27  ...      27    27         27        27    27
Water     112  112    NaN     53  112  ...     112   112        112       112   112

[2880 rows x 13 columns]